# Ignorar arquivos e pastas do Python que não devem ir para a imagem
__pycache__/
*.pyc
*.pyo
*.pyd
*.pdb

# Ignorar ambientes virtuais locais
venv/
env/
.env/
.env

# Ignorar arquivos de configuração local e de IDEs
.vscode/
.idea/
*.swp
*.swo
*.bak

# Ignorar arquivos de log
*.log

# Ignorar pastas e arquivos do Docker que não precisam ir para a imagem
docker-compose.override.yml
.dockerignore

# Ignorar diretórios de dados persistentes do MongoDB (para não enviar dados locais)
mongodb_data/

# Ignorar arquivos de teste, se tiver (ajuste conforme sua estrutura)
tests/
test_*.py

# Ignorar arquivos de build e cache
build/
dist/
*.egg-info/
*.egg

# Ignorar arquivos temporários e sistema operacional
.DS_Store
Thumbs.db